*{
    margin: 0%;
    padding: 0%;
}









header{
    background-color: #424e61;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.caçalho-imagem{

    width: 18%;

}
.cabeçalho-lista-item{

    display: inline-block;
    margin: 0 16px;
    font-size: 24;

}

.escola{
    background-image: linear-gradient(#424e61, #4ebfe9);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;



}
.escola-div-conteudo{

    width: 35%;
}

.escola-titulo{
    padding: 24px 0;

}

.escola-texto-um{
    padding: 24px 0;
    font-size: 24;

}
.escola-texto-dois{
    padding: 24px 0;
    font-size: 24;
}
.estudante-imagem{
    width: 20%;
}
.estudante-icone{
    width: 24px;

}
.estudante-div{
    text-align: center;
}